body {
    padding: 0;
    margin: 1em auto 1em;
    max-width: 70em;
    font-family: sans-serif;
}

.title {
    font-weight: bold;
}

.header {
    padding: 0.15em;
}

.result {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 80%;
    border: 1px solid #2e3436;
    padding: 1px;
    background: #2e3436;
    color: #eeeeec;
    float: right;
    width: 4em;
    text-align: center;
    margin-right: 3px;
}

.result[status="pass"] {
    background-color: #4e9a06;
}

.result[status="fail"] {
    background-color: #a40000;
}

.result[status="skip"] {
    background-color: #c4a000;
}

.main > .header {
    font-size: 200%;
    text-align: center;
}

.run:first-child
{
    margin-top: 0;
}

.run {
    margin-top: 2em;
}

.run > .header {
    font-size: 150%;
}

.run > .header .title span[name='platform']:before {
    content: '(';
}

.run > .header .title span[name='platform']:after {
    content: ')';
}

.run > .content {
    margin-top: 1em;
    margin-left: 2em;
}

.library {
    border: 2px solid #2e3436;
    color: #2e3436;
    max-width: 54em;
    margin: 1em auto;
}

.library > .header {
    color: #eeeeec;
    background: #3465a4;
    font-size: 130%;
}

.suite > .header {
    background: #babdb6;
    font-size: 105%;
    padding-left: 1.0em;
}

.test {
    border-top: 1px dotted #babdb6;
    background: #d3d7cf;
}

.test:first-child {
    border-top: none;
}

.test > .header {
    padding: 3px 0 5px 2.0em;
    
}

.test > .header[full] {
    cursor: pointer;
}

.test > .header[full] > .title:after {
    content: " ..."
}

.test > .header:hover {
    background: #729fcf;
}

.test > .content {
    padding-left: 3.0em;
    padding-bottom: 0.5em;
    /*display: table;*/
    border-spacing: 0.5em;
    empty-cells: hide;
}

.result-message, .event {
    display: table-row;
}

.message-type, .message-source {
    display: table-cell;
    padding-right: 4px;
}

.message-content {
    display: table-cell;
    vertical-align: middle;
    font-family: monospace;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap !important;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.level-tag, .result-tag {
    font-family: monospace;
    border: 1px solid #2e3436;
    background: #2e3436;
    color: #eeeeec;
    padding: 1px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
    white-space: nowrap;
}

.source-tag {
    font-family: monospace;
    border: 1px solid #2e3436;
    background: #eeeeec;
    color: #2e3436;
    padding: 1px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
    white-space: nowrap;
}

.summary {
    max-width: 20em;
}

.summary > .header {
    font-size: 150%;
}

.summary > .content {
    display: table;
    width: 100%;
    max-width: 20em;
    margin-left: 2em;
    margin-top: 1em;
}

.summary > .content > div {
    display: table-row;
}

.summary > .content > div > div {
    display: table-cell;
}

.statistic > div:first-child {
    font-weight: bold;
}

.statistic[name="passed"] > div:first-child {
    color: #4e9a06;
}

.statistic[name="failed"] > div:first-child {
    color: #a40000;
}

.statistic[name="skipped"] > div:first-child {
    color: #c4a000;
}

#controls {
    margin: 2em auto 0 auto;
    border: 2px solid black;
    padding: 1em;
    max-width: 30em;
}

#controls .header {
    font-size: 120%;
    font-weight: bold;
    margin-bottom: 0.5em;
    border-bottom: 1px dotted black;
    padding: 2px;
}

#controls > .header {
    font-size: 150%
}

#controls .content {
    margin-left: 1em;
}

#controls .buttons {
    height: 2em;
}

#controls .buttons > * {
    float: right;
}