.title {
    font-weight: bold;
}

.header {
    padding: 0.15em;
}

.result {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 80%;
    border: 1px solid #2e3436;
    padding: 1px;
    background: #2e3436;
    color: #eeeeec;
    float: right;
    width: 4em;
    text-align: center;
}

.result[status="pass"] {
    background-color: #4e9a06;
}

.result[status="fail"] {
    background-color: #a40000;
}

.result[status="skip"] {
    background-color: #c4a000;
}

.main > .header {
    font-size: 200%;
    text-align: center;
}

.platform:first-child
{
    margin-top: 0;
}

.platform {
    margin-top: 2em;
}

.platform > .header {
    font-size: 150%;
}

.platform > .content {
    margin-left: 5%;
    margin-right: 5%;
}

.platform > .header > .title:before {
    content: "Platform: "
}

.platform > .header .title span[name='vendor'] {
    display: none;
}

.library {
    margin: 0.5em;
    border: 2px solid #2e3436;
    color: #2e3436;
    max-width: 50em;
}

.library > .header {
    color: #eeeeec;
    background: #3465a4;
    font-size: 130%;
}

.suite > .header {
    background: #babdb6;
    font-size: 105%;
    padding-left: 1.0em;
}

.test {
    border-top: 1px dotted #babdb6;
}

.test:first-child {
    border-top: none;
}

.test > .header {
    padding-left: 2.0em;
    font-size: 105%;
}

.test > .header[full] > .title:after {
    content: " ..."
}

.test > .header:hover {
    background: #729fcf;
}

.test > .content {
    padding-left: 3.0em;
    padding-bottom: 0.5em;
}

.events .content {
    padding-left: 1.0em;
}

.test {
    background: #d3d7cf;
}

.level {
    font-family: monospace;
    border: 1px solid #2e3436;
    background: #2e3436;
    color: #eeeeec;
    padding: 1px;
    width: 6em;
    display: inline-block;
    text-align: center;
    vertical-align: bottom;
}

.source {
    font-family: monospace;
    border: 1px solid #2e3436;
    background: #eeeeec;
    color: #2e3436;
    padding: 1px;
    width: 12em;
    display: inline-block;
    text-align: center;
    vertical-align: bottom;
}

.summary > .header {
    font-size: 150%;
}

.summary > .content {
    display: table;
    width: 100%;
    max-width: 20em;
    margin-left: 5%;
    margin-right: 5%;
}

.summary > .content > div {
    display: table-row;
}

.summary > .content > div > div {
    display: table-cell;
}

.statistic > div:first-child {
    font-weight: bold;
}

.statistic[name="passed"] > div:first-child {
    color: #4e9a06;
}

.statistic[name="failed"] > div:first-child {
    color: #a40000;
}

.statistic[name="skipped"] > div:first-child {
    color: #c4a000;
}
