body
{
    font-family: sans;
    color: #2e3436;
}

.test-table
{
    border: 2px solid black;
    border-spacing: 0;
    padding: 2px;
    empty-cells: show;   
}

.test-table td
{
    padding: 4px;
}

.test-header-library th
{
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background: #204a87;
    color: white;
    font-size: 1.5em;
}

.test-header-columns th
{
    border: 1px solid black;
    background: #729fcf;
    font-size: 1.25em;
}

.test-name
{
    border-left: 1px solid black;
    text-indent: 0.5em;
    font-weight: bold;
}

.test-source
{
    border-left: 1px solid black;
    text-indent: 1.0em;
    text-align: left;
}

.test-row-suite
{
    background: #B0B0B0;
    font-weight: bold;
}

.test-row-suite td
{
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.test-row-test
{
    background: #D0D0D0;
}

.test-row-event
{
    background: #D0D0D0;
}

.test-row-summary
{
    background: white;
}

.test-row-summary td
{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background: #729fcf;
}

.test-row-summary .first
{
    font-weight: bold;
}

.test-row-summary .last
{
    text-align: right;
    font-size: 0.75em;
}

.first
{
    border-left: 1px solid black;
}

.last
{
    border-right: 1px solid black;
}

.test-row-divider td
{
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px dotted #888a85;
    background: #D0D0D0;
    padding: 0;
}

.test-result
{
    font-family: monospace;
    text-align: right;
    border-right: 1px solid black;
}

.test-row-reason
{
    background: #D0D0D0;
    text-align: right;
    font-size: 0.75em;
}

.text-pass
{
    margin-left: 0.5em;
    padding: 2px;
    border: 1px solid white;
    color: white;
    background: #4e9a06;
}

.text-fail
{
    margin-left: 0.5em;
    padding: 2px;
    border: 1px solid white;
    font-weight: bold;
    color: white;
    background: #cc0000;
}

.text-warning
{
    margin-left: 0.5em;
    padding: 2px;
    border: 1px solid white;
    color: white;
    background: #cc0000;
}

.text-info
{
    margin-left: 0.5em;
    padding: 2px;
    border: 1px solid white;
    color: white;
    background: #c4a000;
}

.text-verbose
{
    margin-left: 0.5em;
    padding: 2px;
    border: 1px solid white;
    color: white;
    background: #204a87;
}

.text-trace
{
    margin-left: 0.5em;
    padding: 2px;
    border: 1px solid white;
    color: white;
    background: #5c3566;
}

